<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524464848453-8eamlfajtq3n3jnhljuvrg8aud6mers3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524464848453-8eamlfajtq3n3jnhljuvrg8aud6mers3</string>
	<key>API_KEY</key>
	<string>AIzaSyADN-5r0wd2C32541S8s1-8jxP9C_2zE5I</string>
	<key>GCM_SENDER_ID</key>
	<string>524464848453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>ahes-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ahes-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524464848453:ios:7ea22720d3c864c3e9ad2c</string>
</dict>
</plist>